<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM
"https://testng.org/testng-1.0.dtd">

<suite name="Day17Suite">

    <test name="AllTests">

        <classes>

            <class name="FirstTestNG"/>
            <class name="LoginTest"/>
            <class name="AssertionDemo"/>

        </classes>

    </test>

</suite>